/* Container styles */
:root {
    --text: #16070b;
    --background: #faf1f3;
    --primary: #c14966;
    --secondary: #dac693;
    --accent: #cbcf70;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: var(--primary);
    text-align: left;
    padding: 20px 0;
    padding-left: 10px;
    box-sizing: border-box;
}

.header h1 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    margin: 0;
}

form {
    display: inline-block; 
    vertical-align: middle; 
    margin-bottom: 20px;
}

.custom-file-upload {
    color: var(--text);
    background-color: rgba(219, 199, 149, 0.3);
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 auto; 
}
.custom-file-upload:hover{
    background-color: #eac693;
}
.custom-file-upload input[type="file"] {
    display: none;
}

button {
    background-color: var(--primary);
    color: var(--background);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: rgb(184, 68, 95);
}

/* Table styles */
table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #ddd;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: white;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}


.file-uploaded input[type="file"] {
    color: transparent;
    display: none;
}

.file-uploaded {
    background-color: var(--primary);
    color: var(--background);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

body {
    background-color: var(--background);
    font-family: "Poppins", sans-serif;
    padding-top: 70px; 
}

h1 {
    color: var(--text);
}
/* Add this CSS code to adjust the size and alignment of images */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px; /* Adjust the margin bottom as needed */
    max-height: 400px; /* Set the maximum height of the images */
}

